# Mac Home Directory
Downloads/*
Projects/*
Google\ Drive/*
Movies/*
Desktop/*
Library/*
Music/*
Documents/*
Applications/*
Pictures/*
Public/*

# Unimportant dotfiles
.ssh
.oh-my-zsh
.zsh_history
.zsh-update
.zshrc-e
.zshrc.pre-oh-my-zsh
.zcompdump-Roman's\ Macbook\ Pro-5.0.2
.DS_Store
.Trash
.atom
.bash_history
.cache
.config
.local
.viminfo
.wapi

