[user]
	name = Roman Larionov
	email = romanylarionov@gmail.com
[color]
	ui = auto
[core]
	editor = vim
	autocrlf = input
[alias]
	unstage = reset HEAD
	unmerge = reset --merge
	cm = commit -m
	st = status
	br = branch
	co = checkout 
	pl = pull --rebase origin
	ps = push origin
	rb = rebase -i origin
[credential]
	helper = cache --timeout=9000
[help]
	autocorrect = 1
