[user]
    name = Roman Larionov
    email = romanylarionov@gmail.com
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = true
[core]
    symlinks = false
    editor = vim
    autocrlf = false
    safecrlf = false
    filemode = false
[alias]
    cm = commit -m
    st = status
    br = branch
    co = checkout
    pl = pull --rebase origin
    ps = push origin
[credential]
    helper = cache --timeout=18000 # 5 hours
[help]
    autocorrect = 1
[diff]
    tool = vimdiff
[difftool]
    prompt = false
