
# https://linux.die.net/man/1/bash
# search "readline"

# none, visible or audible
set bell-style none

# auto complete
set completion-query-items 40
set completion-ignore-case on
set disable-completion off

set history-preserve-point on

# disable/enable 8bit input
set input-meta on
set output-meta on
set convert-meta off

# visible-stats
# Append a mark according to the file type in a listing
set visible-stats off
set mark-directories on
set mark-symlinked-directories on

# Beep first, show all only upon double-Tab
set show-all-if-ambiguous off

# MSYSTEM is emacs based
$if mode=emacs
    
    # Mintty
    
    # movement
    "\e[1;5D": backward-word    # Ctrl-Left
    "\e[1;5C": forward-word     # Ctrl-Right
    "\e[1;5A": previous-history # Ctrl-Up
    "\e[1;5B": next-history     # Ctrl-Down
    "\e[4~": end-of-line        # End Key
    "\e[3~": delete-char        # Delete Key
    "\e[1~": beginning-of-line  # Home Key
    
    "\e[15~": re-read-init-file # Function Key 5
    
    "\e[3;5~": kill-word       # Ctrl-Delete
    "\C-_": backward-kill-word # Ctrl-Backspace

    "\C-P": previous-history   # Ctrl-P
    "\C-N": next-history       # Ctrl-N

#    $if term=msys
#      "\e[7~": beginning-of-line      # Home Key
#      "\e[8~": end-of-line            # End Key
#      "\e[11~": display-shell-version # F1
#      "\e[15~": backward-kill-word     # F5
#    $endif
#    
#    $if term=cygwin
#      "\e[A": previous-history # Cursor Up
#      "\e[B": next-history     # Cursor Down
#      "\e[C": forward-char     # Cursor Right
#      "\e[D": backward-char    # Cursor Left
#    $endif
$endif
