
[submodule "solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git

[submodule "nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git

[submodule "YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git

[submodule "vim-airline"]
	path = bundle/vim-airline
	url  = https://github.com/bling/vim-airline.git

